body{
    background-image: url("fundoceu.jpeg");
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat; /* faz com a imagem não repita, apareça uma única vez. */
    background-size:cover;  /* pra imagem ficar na tela toda. */  
}
.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(245, 245, 245, 0.5);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    align-content: center;
}
main {
    background-color: rgba(245, 245, 245, 0.5);
    width: 750px;
    max-width: 85%;
    height: 5400px;
    border-radius: 20px;
    border-color: silver;
    margin: 20px auto;
    position: relative;
    text-align: center;
    padding: 5px;
    align-content: center;
}

.presentation{
    background-color: rgba(245, 245, 245, 0.5);
    width: 200px;
    height: 4000px;
    border-radius: 20px;
    border-color: silver;
    margin: 20px auto;
    position: relative;
    text-align: right;
    padding: 5px;
    align-content: center;
    
}
h1{
    font-family: 'Bangers', cursive;
    font-size: 50px;
    color: rgb(231, 203, 45);
    
}
button{
    color: rgb(66, 66, 231) ;
    font-family: 'Bangers', cursive;
    background-color:rgb(231, 203, 45);
}
.btn-go{
    width: 80px;
    height: auto;
    border-radius: 100%;
    font-size: 30px;
}
#pokes{
    display: block;
}
.img{
    display:block;
    text-align:center;
    position:absolute;
   
}
.coluna{
    float: left;
    width: 20%;
}
.row::after 
{
    content: "";
    clear: both;
    display: table;
}
/*header {
    color: white;
    font-size: 20px;
    line-height: 25px;
    width: 150px;
    height: 200px;
    padding: 10px;
    display: table;
    margin: 100px 20px;
    background-color: blue;
    border-radius: 5px;
    position: absolute;
    
}*/

© 2020 GitHub, Inc.