body {
  background-image: url("imagens/tela-01.png");
  font-family: "Open Sans", sans-serif;
}

.cards__box {
  text-align: center;
  padding: 10px 0 0 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.cards__list__character {
  background-color: rgb(154, 155, 154);
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  width: 120px;
  height: 150px;
}

.cards__list__image {
  width: 100px;
  height: 100px;
}

.status,
.species,
.sort,
.gender {
  display: none;
}

.menu {
  background-color: #dfe0e086;
}

.menu__items {
  display: flex;
  justify-content: center;
}

.menu__items li {
  position: relative;
  padding: 14px 20px;
}

.menu__items li:hover {
  background-color: #41aa8b;
  color: #fff;
}

.menu__items > li:hover ul {
  visibility: visible;
  max-height: 100vh;
}

.menu__items ul {
  max-height: 0;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  background-color: #4cc4a0;
  transition: .4s max-height ease-in;
}

