* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-image: url("imagens/tela-01.png");
}

.status,
.species,
.sort,
.gender {
  display: none;
}

.menu {
  align-items: center;
  background-color: #a0d03f;
  display: flex;
  height: 70px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.menu__items {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.menu__items li {
  align-items: center;
  color: #000;
  display: flex;
  font-family: "Baloo Tamma 2", cursive;
  font-weight: 900;
  position: relative;
  padding: 14px 14px;
}

.menu__items li:hover {
  background-color: #41aa8b;
  color: #fff;
}

.menu__items > li:hover ul {
  visibility: visible;
  max-height: 100vh;
  z-index: 9999;
}

.menu__items ul {
  background-color: #4cc4a0;
  left: 50%;
  max-height: 0;
  position: absolute;
  overflow: hidden;
  top: 100%;
  transform: translateX(-50%);
  transition: 0.4s max-height ease-in;
  visibility: hidden;
}

.icon-search {
  display: none;
}

.search__character {
  text-transform: capitalize;
}

.search__nave {
  display: none;
  width: 50px;
}

.cards__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0 0 0;
  text-align: center;
  width: 100%;
}

.card__character {
  background-color: rgb(51, 51, 51);
  border-radius: 15px;
  color: #fff;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 12px;
  height: auto;
  line-height: 1.5;
  margin: 10px;
  text-align: center;
  overflow: hidden;
}

.card__image {
  width: 100%;
}

.card__name {
  align-items: center;
  background-color: #000;
  bottom: 60px;
  display: flex;
  font-size: 18px;
  font-weight: 900;
  height: 60px;
  justify-content: center;
  opacity: 0.9;
  position: relative;
}

.card__description {
  align-items: flex-start;
  bottom: 35px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  padding: 10px;
  position: relative;
}

.card__description p {
  color: rgb(255, 152, 0);
  display: flex;
  font-weight: 900;
  justify-content: space-between;
  margin: 5px 0px;
  width: 100%;
}

.card__description span {
  color: #fff;
  font-weight: 100;
}

@media (max-width: 960px) {
  .menu {
    bottom: 0;
    height: auto;
  }

  .menu__items {
    display: flex;
    flex-wrap: wrap;
  }

  .menu__items li {
    font-size: 15px;
    justify-content: space-around;
    padding: 20px 10px;
  }

  .filter__search {
    display: flex;
    justify-content: center;
  }

  .filter__search input {
    background: none;
    border: none;
    color: #000;
    font-weight: 900;
    display: none;
    padding: 0px 10px;
    width: 100%;
  }

  .filter__search input::placeholder {
    color: #000;
    font-weight: 900;
  }

  .icon-search {
    display: block;
  }

  .menu__items .filter__search:hover {
    background-color: transparent;
  }

  .nave--fly {
    animation: flySlow 2s ease-in-out;
    display: block;
    position: absolute;
    width: 75px;
    left: 80%;
    top: 0%;
  }

  @keyframes flySlow {
   from {
     top: 50%;
     left: 0%;
   }
   to {
     top: 0%;
     left: 80%;
   }
  }
}
