#fundoExterno {
  margin-left: -0.5em;
  margin-right: -1em;
  overflow: hidden;
  display: block;
  position: relative;
}

#site {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 560px;
  padding: 20px;
  margin-left: -300px;
  background: #FFF;
  background: rgba(255, 255, 255, 0.8);
}
