.button-characters{
    position: relative;
    top: 50%;
    left: 70%;
}
.image-principal {
    position: absolute;
    left: 377px;
    top: 35px;
}
.text-principal{
    position: absolute;
    width: 1004px;
    height: 201px;
    left: 260px;
    top: 684px;
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #205B2F;
}