/* . = class # = id */

/* Header */
body{
margin:0px;
font-family: sans-serif;
}

.back-white{
    color: rgb(53, 52, 52);
    background-color: white;
}
.pokemon-img{
    width:150px;
    margin-right: 20px;
    padding: 10px;
}
.menu-search{ /*Menu superior*/
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}
.search{        /*Barra de pesquisa*/
    padding-left: 5px;
    margin-left: 50px;
    width: 200px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 100%;
}
.icon-search{
    z-index: 1;
    height: 18px;
    position: relative;
    left: -30px;
}
hr{
    width: 80%;
    border: 0;
    border-top: 1px solid rgb(245, 242, 242);
}
/*Main*/
main{ 
    margin-right: 30px;
    margin-top: 30px;
    display: flex;
}
.filters-class{ /* Menu de filtro avançado*/
    justify-content: space-between;
    flex-direction: column;
    padding: 3px;
    height: 600px;
    width: 300px;
    font-weight: bold;
    border-right: 0.7px solid rgb(173, 170, 170);
}
.checkbox-type:first-child{ /*Primeira filha da caixa de checkbox*/
    display: flex;
    flex-direction: column;
}
.line{
    display: inline-flex;
}
.checkbox-form{ /*Config do form checkbox*/
    display: inline-flex;
    font-size: 14px;
}
.advanced-search{ /*Botao de pesquisa avançada*/
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around;
    width: 300px;
}
/*Botão de filtro*/
.button-filter{
    align-self: flex-start;
}
/*Div Raiz*/
.home{ /*class da div raiz */

    flex-grow: 1;
    margin: 20px 30px ;
    padding: 10px 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    line-height: 0.5px;
    height: auto;
}
.view-all-class{ /*Botão ver mais/ ver menos*/
    font-size: large;
    padding: 10px;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{ /* classe das novas divs */
    color:  rgb(83, 80, 80);
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(241, 237, 237); 
    margin: 5px;
    padding: 3px;
    min-width: 235px;
    max-width: 235px;
    height: 130px;
    border-radius: 8%;
}
.card:hover{
    background-color: rgb(252, 228, 11);
    color: black;
    cursor: pointer;
}
.card:only-child{
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 55%;
    height: 130px;
}
.picture{ /* imagem dos pokemons*/
    margin: 5%;
    width: 45%;
    height: auto;
}
.picture:hover {
    transform: scaleX(-1);
  }
  .buttons{
      font-weight: bold;
    padding-inline-start: 0px;
    margin: 0px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
  }
  .menu-buttons:hover{
      background-color: rgba(241, 239, 239, 0.829);
      cursor: pointer;
  }
  .menu-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 3px;
    border-left: 0.7px solid rgb(173, 170, 170);

}
.menu{
    padding: 1%;
    max-width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.button-search:hover{
    background-color: rgb(252, 228, 11);
    color: black;
    cursor: pointer;  
}

.power{
    color: white;
    width: auto;
    height: 25px;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}.power :first-child{
    padding: 2px;
    margin: 1px;
}
/*Tipos de Pokemons*/
.Flying{
    background-color: teal;
}
.Ice{
background-color: rgb(142, 197, 233);
}
.Grass{
background-color: rgb(106, 230, 172);
}
.Fire{
background-color: orange;
}
.Water{
background-color: rgb(29, 230, 209);
}
.Bug{
background-color: rgb(139, 238, 119);
}
.Normal{
background-color: rgb(250, 110, 100);
}
.Poison{
background-color: rgb(210, 163, 214);
}
.Electric{
background-color: rgb(241, 241, 98);
}
.Ground{
background-color: rgb(219, 122, 58);
}
.Rock{
background-color: rgb(56, 56, 56);
}
.Fighting{
    background-color: coral;
}
.Psychic{
    background-color: crimson;
}
.Ghost{
    background-color: darkmagenta;
}
.Dragon{
    background-color: rgb(226, 68, 160);
}
.Fairy{
    background-color: rgb(199, 126, 218);
}
.filter-config{  
    margin: 5px;  
    width: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:600px){
    .home{
        background-color: darkorange;
        flex-shrink: 1;
     }
 main{
     background-color: darkorchid;
     display: block;
     flex-wrap: wrap;
     flex-direction: column;
 }

}




