.plano-fundo {
  margin: 0;
  padding: 0;
  height: 100vh;
  perspective: 2px;
  transform-style: preserve-3d;
  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section {
  position: relative;
  height: 100vh;
  min-height: 700px;
  transform-style: inherit;
}

.section::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translateZ(-1px) scale(1.5);
}

.bg1::before {
  background-image: url(./imagens/fundo1278.jpg);
}

.logotipo {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
  margin: 1em;
}

.logo {
  width: 20%;
  padding-bottom: 1em;
  padding-top: 1em;
}

.navBar {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.3);
  margin: 1em;
}

.pokedex {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lista-pokedex {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.lista-img {
  display: flex;
  height: 150px;
  order: -1;
}

.lista-pokedex-link {
  width: 25%;
  height: 250px;
  padding: 0.5em;
  margin: 0.5em;
  background: rgba(255, 255, 255, 0.3);
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
}

.lista-tipo {
  border: 1px solid green;
  background-color: lightgreen;
  border-radius: 10px;
  padding: 0.5em;
}

@media screen and (min-width: 320px) {
  .bg1::before {
    background-image: url(./imagens/fundo320x600.png);
  }

  .logo {
    width: 40%
  }
}

@media screen and (min-width: 600px) {
  .bg1::before {
    background-image: url(./imagens/fundo600x800.jpg);
  }

  .logo {
    width: 40%
  }
}

@media screen and (min-width: 1000px) {
  .bg1::before {
    background-image: url(./imagens/fundo1278.jpg);
  }

  .logo {
    width: 20%
  }
}
