@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*Classes das cores por tipo do pokemon*/

.color-aco {
    background-color: #DAA520;
}

.color-agua {
    background-color: #87CEEB;
}

.color-dragao {
    background-color: #DB3E1B;
}

.color-eletrico {
    background-color: #D7DB1E;
}

.color-fada {
    background-color: #D91CD1;
}

.color-fantasma {
    background-color: #F6D7F6;
}

.color-fogo {
    background-color: #FF8C00;
}

.color-gelo {
    background-color: #DBDDDD;
}

.color-inseto {
    background-color: #1E6DE3;
}

.color-lutador {
    background-color: #FEC807;
}

.color-normal {
    background-color: #DE2626;
}

.color-noturno {
    background-color: #000000;
}

.color-planta {
    background-color: #59B539;
}

.color-pedra {
    background-color: #484848;
}

.color-psiquico {
    background-color: #D91CD1;
}

.color-venenoso {
    background-color: #9D9F25;
}

.color-voador {
    background-color: #0E8AA5;
}

.color-terra {
    background-color: #976B36;
}


/*Demais estilizações*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-22 {
    font-size: 22px;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
}

.body-config {
    margin: 0px auto;
    background-color: #E5E5E5;
    font-size: 22px;
}

.bold {
    font-weight: bold;
}

.btn {
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 25px;
    color: black;
    margin-left: 5px;
}

.btn-card {
    width: 85px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    text-align: center;
    margin: 3px 3px 3px 0px;
}

.btn-menu {
    padding: 10px;
    width: 200px;
}

.btn-filter {
    padding: 0px 10px 0px 0px;
}

.btn-search {
    padding: 5px;
}

.btn-search input {
    width: 200px;
    margin-left: 5px;
}

.select {
    outline: none;
    border: none;
    background-color: transparent;
    width: 170px;
}

.btn-search:hover,
.select:hover {
    cursor: pointer;
}

.container {
    background-color: #E5E5E5;
    margin: 0px auto;
    width: 1200px;
    font-family: sans-serif;
}

.container-card {
    width: 220px;
    height: 220px;
    margin: 15px 15px 15px 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 15px;
    color: white;
    border: 1px solid gray;
    background: url("/assets/pokeball_half.png") no-repeat right bottom;
}

.container-card:hover {
    opacity: 0.70;
}

.container-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-pok-type {
    justify-content: flex-start;
}

.inner-header {
    margin: auto;
    max-width: 1200px;
}

.header {
    padding: 10px 50px;
    height: 70px;
    margin-bottom: 30px;
    background: rgba(40, 169, 146, 0.94);
}

.in-block {
    display: inline-block;
}

.logo-align {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
}

.logo-item1 {
    width: 110px;
    height: 30px;
}

.logo-item2 {
    width: 30px;
    height: 30px;
    margin-left: 45px;
}

.number-pok {
    margin-top: 5px 0px;
    font-size: 14px;
    float: right;
    padding-top: 6px;
    margin-right: 5px;
}

.img-pok {
    width: 150px;
    height: 150px;
    margin-left: 15px;
    padding-bottom: 10px;
}

.img-btn-filter {
    width: 45px;
    height: 45px;
    margin-left: 5px;
}

.img-btn-order {
    width: 25px;
    height: 20px;
    margin-left: 5px;
}

.img-btn-search {
    width: 30px;
    height: 30px;
}

.bg-img-pok {
    float: right;
    opacity: 0.3;
    width: 50px;
    height: 100px;
}

.footer-page {
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

/* tela secundária/características */

*{
    font-family:"roboto", sans-serif
}

.modal-char {
    display: none;
    position: fixed; 
    z-index: 2000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center; 
}

.char-card-container {
    display: flex;
    position: relative;
    flex-grow: 1;
    width: 210px;
    height: 330px;
    left: 0px;
    top: 0px;
    font-style: normal;
    font-weight: bold;
    background: #FF8C00;/*tirar depois, apenas para visualizar*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /*justify-content: center;
    align-items: center;*/
}

.char-name-style {
    position: relative;
    width: 68px;
    height: 28px;
    left: 5px;
    top: -117px;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.char-num-style {
    position: relative;
    width: 42.4px;
    height: 17.28px;
    left: 150.6px;
    top: -152px;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    color: #FFFFFF;
}

.char-img-style {
    max-width: 100%;
    display: block;
    width:100px;
    position: absolute;
    left: 26%;
    right: 22.86%;
    top: -30%;
    bottom: 90%;
    background: url(037.png);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.char-type-style {
    position: relative;
    width: 90.09px;
    height: 20.52px;
    left: 4px;
    top: -135px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.62);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #FFFFFF;
    opacity: 0.3;
}

.modal-char-trans{
    display: flex;
    /*flex-grow: 1;*/
    position: absolute;
    width: 200px;
    height: 200px;
    left: 5px;
    right:5px;
    top: 130px;
    bottom: 0px;
    font-style: normal;
    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
        
    /*justify-content: center;
    align-items: center; */
}

.modal-data{
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.57);
}

/*.scroll imput{
    display: none;
    list-style-type: none;
}

/*.scroll{
    display: flex;
    width: 2000px;
    height: 30px;
    overflow: hidden ;
}

/*.menu-nav{
    /*position: relative;
    width: 200px;
    height: 21px;
    top: 200px;
    position: fixed;
    display:flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*text-align: center;
    margin: 0px;
    padding: 0px;*/
}

/*.menu-nav label{
    position: absolute;
    padding: 10px 0;
    cursor: pointer;
    transition: all .4s;
}*/

/*.menu-nav label:hover {
    
}*/

/*#rd-weak:cheked ~.sections{
    margin-top: -170px; 
}*/

/*#rd-evo:checked ~.sections{
    margin-top: -340px;
}*/

.close {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 180px;
    top: 5px;
    cursor: pointer;
    /*background: url(icon.png) no-repeat;*/
}
.close:hover {
    background: #FFFFFF;
    opacity: 0.3;
}

.item-menu-char {
    position: absolute;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.57);
}

.item-menu-char.data {
    left: 6.5%;
    right: 52.32%;
    top: 15%;
    bottom: 74.39%;
}

.char-item {
    position: absolute;
    left: 6.5%;
    right: 59%;
    font-weight: normal;
}

.char-item-value{
    position: absolute;
    left: 44%;
    right: 6.5%;
    font-weight: normal;
    text-align: right;
}

.char-height{
    top: 30.16%;
    bottom: 59.23%
}

.char-weight{
    top: 38.11%;
    bottom: 51.28%;
}

.char-cand-item{
    position: absolute;
    font-weight: normal;
    left: 6.5%;
    right: 74%;
    top: 45.54%;
    bottom: 43.85%;
}

.cand-value{
    left: 30.5%;
    right: 6.5%;
    text-align: right;
}

.char-cand-count {
    top: 54.39%;
    bottom: 35%;
}

.Char-egg {
    top: 63%;
    bottom: 29%;
}

.char-spawn-chance-item{
    position: absolute;
    left: 11%;
    right: 11%;  
    top: 75%;
    bottom: 10.89%;
    font-weight: bold;
    text-align: center;
}

.char-spawn-chance-value-item {
    position: absolute;
    left: 11%;
    right: 11%;  
    top: 85%;
    bottom:9%;
    font-weight: normal;
    text-align: center;
}

.item-menu-char.weaknesses{
    left: 30.72%;
    right: 28.59%;
    top: 15%;
    bottom: 74.39%;
}

.modal-weak{

}

/*.modal-evo{
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.78);*/
}

.item-menu-char.evolution{
    left: 64.0%;
    right: 6.5%;
    top: 15%;
    bottom: 77%;
}

/*.arrow{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 94px;
    top: 115px;
    /*background: url(up-chevron.png);*/
}

/*.img-evo {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 88px;
}

.evo-1-img{
    left: 31px;
    /*background: url(037.png)*/
}

/*.evo-item{
    position: absolute;
    font-weight: bold;
    text-align: center;
}

.evo-position-name{
    position: absolute;
    top: 79%;
    bottom: 12.5%;
    text-align: center;
}

.evo-position-num{
    position: absolute;
    top: 87.5%;
    bottom: 4.5%;
    text-align: center;
}

.evo-name-num-box1{
    left: 4%;
    right: 55%;
}

.evo-2-img{
    left: 120px;
    /*background: url(038.png);*/
}

/*.evo-name-num-box2{
    left: 52.5%;
    right: 5%;
}*/
